.loadingImages {
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
}
.loadingImages iframe {
    height:100%;
    width:100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#arrowAndImg{
    display: flex;
    flex-wrap: nowrap;
}
#left{
    transform: scaleX(-1);
    left:1rem;
}

#right{
    right:1rem;
}

.arrows{
    height: 100px;
    width: 100px;
    position:fixed;
    z-index:100;
    top:calc(50% - 50px);
}

