@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  width: 100%;
  height:100vh;
  background-image: url('https://lh3.googleusercontent.com/jNCPT3znZK_aFjXb-q3zy3mDtD1e9KSB8C9FRzTJYBprruN_KPzXWGPilY_3Ex6kjYAnwV6kTZOZYqplol6kGAER9RtmmfGUP8DgJv99TKctToVgy-2oFHPFr88ziOlkLW87B_ZMKddXikL5Rpih9BrGzYdXBiKmPWHrIBAWApAzip7YjFBeHSJCCadAJnxiYKDPo-K50zcJ5Z-ypdd5SpCFROQtL-OkJCBWLaUkPbrxoM2JwiN5rY89nKBvE_Jn5RbsVcraV1lD14hEFwc4RKASBoP6UgDfqeFDz7bK7fmmAj3ncnmCXV6qFSmStwDLlzcVUd9djXgnpRU3fm0a_TdEdx5eVS6RDAWXzRWZWxNz8G2pfYuWxGVQ4MoIKxRYnBRYHmwSjUsBLI3_Pvoac5XDXOgLBMStmWPGSluJ8Q4JjPrZ-scvNJtr4AMbSI8jfbz6AvQAZWdenJn-Pt8YvsdKa-i47hBy0uOmVV3Re4cXWcHQJlOVONhNiBq8NoXd9_u3OtJc-BpNoWIEOvwmEskU76F-yvcDpx0LcfrJGPwecLC6yZlAVk_FiP5Sz8ZFYdjENa218qm4sQa1g8YEfcx1L1TgS9eaTHFVGL_6E2x74GeDSjqn8V5ni1GzcmqjC4mb1u_xSc4djorVvinSx75jd9TCTuD-HkNwNR3-rgvEk9H7HR1ljzjUJI-cC0OoGt5DlSfXnPrPJ9Uqwj9osh_x85P6-bWuA_DQyEQxODxXM3rizRQ-fTW3C2pc2aaNO9t3tE9RB5S2rc5SWWmWQRoYbZiHKnwjvGg=w1300-h866-no?authuser=0') ;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  overflow: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #29d9d5;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}



@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
}
/*# sourceMappingURL=style.css.map */@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  width: 100%;
  height:100vh;
  background-image: url(https://lh3.googleusercontent.com/jNCPT3znZK_aFjXb-q3zy3mDtD1e9KSB8C9FRzTJYBprruN_KPzXWGPilY_3Ex6kjYAnwV6kTZOZYqplol6kGAER9RtmmfGUP8DgJv99TKctToVgy-2oFHPFr88ziOlkLW87B_ZMKddXikL5Rpih9BrGzYdXBiKmPWHrIBAWApAzip7YjFBeHSJCCadAJnxiYKDPo-K50zcJ5Z-ypdd5SpCFROQtL-OkJCBWLaUkPbrxoM2JwiN5rY89nKBvE_Jn5RbsVcraV1lD14hEFwc4RKASBoP6UgDfqeFDz7bK7fmmAj3ncnmCXV6qFSmStwDLlzcVUd9djXgnpRU3fm0a_TdEdx5eVS6RDAWXzRWZWxNz8G2pfYuWxGVQ4MoIKxRYnBRYHmwSjUsBLI3_Pvoac5XDXOgLBMStmWPGSluJ8Q4JjPrZ-scvNJtr4AMbSI8jfbz6AvQAZWdenJn-Pt8YvsdKa-i47hBy0uOmVV3Re4cXWcHQJlOVONhNiBq8NoXd9_u3OtJc-BpNoWIEOvwmEskU76F-yvcDpx0LcfrJGPwecLC6yZlAVk_FiP5Sz8ZFYdjENa218qm4sQa1g8YEfcx1L1TgS9eaTHFVGL_6E2x74GeDSjqn8V5ni1GzcmqjC4mb1u_xSc4djorVvinSx75jd9TCTuD-HkNwNR3-rgvEk9H7HR1ljzjUJI-cC0OoGt5DlSfXnPrPJ9Uqwj9osh_x85P6-bWuA_DQyEQxODxXM3rizRQ-fTW3C2pc2aaNO9t3tE9RB5S2rc5SWWmWQRoYbZiHKnwjvGg=w1300-h866-no?authuser=0) ;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #29d9d5;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}


@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.row {
  display:flex;
  height: 88%;
  align-items: center;
}

.col {
  flex-basis: 50%;
}

h1{
  color: #fff;
  font-size: 70px;
}
p{
  color: #fff;
  font-size: 18px;
  line-height: 20px ;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.button {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.button:hover {
  background: #29d9d5;
  color: #111;
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.card1
{
  background-image: url(http://2.bp.blogspot.com/-aPiEiSUJdGE/VO13ivnvzZI/AAAAAAAACEY/tdmlbC-sDjA/s1600/Various%2BGraves.jpg);
}

.card2
{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/South-Park-Street-Cemetery-1.jpg);
}

.card3
{
  background-image: url(https://thirdeyetraveller.com/wp-content/uploads/SOUTHPARKSTREETCEMETERY-27-of-36.jpg);
}

.card4
{
  background-image: url(http://curlytales.com/wp-content/uploads/2018/02/Parkstreetcemetery-1.jpg);
}

.card5
{
  background-image: url(https://img.atlasobscura.com/hc4e5Lf2CZ6VNSgJPTnDAT0sIQaQwsXxT7hbn9jxwmo/rt:fit/h:390/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL3BsYWNl/X2ltYWdlcy82YzVm/ODFkMS03NWExLTRm/NmUtOGYxMS0zY2M5/ODhiNGVmOGQzMmQy/MjBlMzk3MTZjMjJh/YjZfSU1HXzIwMjAw/MjI1XzE2MDAwOC5q/cGc.jpg);
}

.card6
{
  background-image: url(https://imgmedia.lbb.in/media/2021/02/603a545f6912ce2572e1f544_1614435423854.jpg);
}

.card7
{
  background-image: url(https://benjamuna.files.wordpress.com/2021/03/south-park-street-cemetery-1.jpg);
}

.card8
{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZPcLRQnqs17CCA-rqC7qtJ8CZ5AO8wucebg&usqp=CAU);
}

.card9
{
  background-image: url(https://assets.cntraveller.in/photos/61d7d2686ec3c7355acb1721/3:4/w_900,h_1200,c_limit/Rowland%20Jackson%20Tombstone.jpg);
}

.card:hover{
  transform: translateY(-10px);
  
}

h3{
  font-size: 0;
  color: #fff;
  text-shadow: 0 0 5px #000;
}

.card p{
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}


